In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
# help(pd.Series)

# issue see my documentation for git (long)

In [4]:
myindex = ['USA', 'Canada', 'Mexico']

In [5]:
mydata = [1776, 1867, 1821]

In [6]:
#myser = pd.Series(data = mydata, index= myindex)

myser = pd.Series(mydata,myindex)

In [7]:
myser

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [8]:
type(myser)

pandas.core.series.Series

In [9]:
myser[0]

1776

In [10]:
myser['USA']

1776

In [11]:
ages = {'Sam':5, 'Frank':10, 'Spike':7}

In [12]:
pd.Series(ages)

Sam       5
Frank    10
Spike     7
dtype: int64

In [13]:
# Imaginary Sales Data for 1st and 2nd Quarters for Global Company
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [14]:
sales_q1 = pd.Series(q1)

In [15]:
sales_q2 = pd.Series(q2)

In [16]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [17]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [18]:
sales_q1['Japan']

80

In [19]:
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [20]:
[1,2] *  2      # it fails here

[1, 2, 1, 2]

In [21]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [22]:
sales_q1 * 2  # pandas built off numpy array we can do this

Japan    160
China    900
India    400
USA      500
dtype: int64

In [23]:
sales_q1 / 100

Japan    0.8
China    4.5
India    2.0
USA      2.5
dtype: float64

In [24]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [25]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [26]:
sales_q1 + sales_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [27]:

sales_q1.add(sales_q2, fill_value=0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64

In [28]:
# np.random.randint?

In [29]:
# pd.Series.add?

In [30]:
sales_q1.dtype

dtype('int64')

In [31]:

first_half = sales_q1.add(sales_q2, fill_value=0)

In [32]:
first_half.dtype

dtype('float64')

In [33]:
# ignore